@import "../reset.css";

body {
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.text-box1 {
  background-color: darkblue;
}

.text-box2 {
  background-color: darkslategrey;
}

.text-box3 {
  background-color: forestgreen;
}

.hiding {
  display: none;
}

.showing {
  display: block;
}
